<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="taskscontainer text-center">
  <button class="btn btn-lg btn-success" (click)="getTasksFromService()">Get All Tasks</button><br>
  <p><input class="form-control" *ngIf="tasks !==undefined" type="text" (keydown)="getTaskFromKeydown($event)" placeholder="Enter Task Name To Display Details"></p>
      <span *ngFor="let x of tasks">
        <h2>{{x.title}} <button class="btn btn-info float-right" (click)="taskToShow(x)">SHOW</button></h2>
      </span>
</div>
<br>
<app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>

<!-- <h1>DOM Part 1 below</h1>
<h2>All the tasks:</h2>
<ul>
  <li *ngFor="let x of tasks">
    <h2>{{x.title}} - {{x.description}}</h2>
  </li>
</ul>

<h2>The Third Task</h2>
<ul>
  <li>
    <h2>{{tasks[2].title}} - {{tasks[2].description}}</h2>
  </li>
</ul> -->

